.storeOpenImage {
  max-width: 563px;
  height: 242px;
  background-image: url("../assets/imagesectionBaby.png");
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  /* padding: 20px; */
}
.squareInfo {
  width: 129px;
  height: 119px;
  background: rgba(255, 255, 255, 1);
  border: 5px solid rgba(255, 255, 255, 1);
  margin: 20px;
}

.categorySquares {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  direction: rtl;
  overflow-x: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.storeSmallSpace {
  margin-top: 10px;
}
.categoryOneSquare {
  /* width: 71px;
max-height: 39px;
background: rgba(232, 226, 217, 1);
text-align: center;
padding: 8px; */
  background: rgba(232, 226, 217, 1);
  width: 71px;
  height: 39px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filterSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}
.bigFilter {
  width: 156px;
}
.smallFilter {
  width: 126px;
}
.marginLeft10 {
  margin-left: 10px;
}
.filterDropdown {
  max-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
  padding-right: 17px;
  padding-bottom: 6px;
  padding-left: 17px;
  border-radius: 20px;
  border-bottom-width: 1px;
  background: rgba(232, 226, 217, 1);

  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.storeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
  direction: rtl;
}
.StoreCard {
  /* width: 176px; */
  height: 370px;
  background: rgba(232, 226, 217, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.cardImage {
  min-width: 155px;
  height: 187px;
  background: rgba(242, 242, 247, 1);
}
.cardBody {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.cardHeader {
  width: 95px;
  height: 21px;
  font-family: Assistant;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
}

.cardInfoText {
  width: 151px;
  height: 42px;
  font-family: Open Sans Hebrew;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: rgba(0, 0, 0, 1);
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  direction: rtl;
}
.cardInfoSmallText {
  direction: rtl;
}

.openItemImage {
  width: 100%;
  height: 472px;
  background-image: url("../assets/cloth2.png");
  background-size: cover;
  object-fit: cover;
}

.clothsRowImages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}
.imageCloth {
  width: 76px;
  height: 103px;
}

.ColorChange {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.RowCircle {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.colorName {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.oneColor {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  border-width: 1px;
  border-radius: 50%;
  border: 1px solid rgba(151, 151, 151, 1);
}
.sizeSquare {
  width: 45;
  height: 30;
  top: 968px;
  left: 266px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  gap: 10px;
  background: rgba(232, 226, 217, 1);
  margin-left: 5px;
}
.boldSmallText {
  margin-top: 10px;
  font-family: Open Sans Hebrew Condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
}
.regularSmallText {
  font-family: Open Sans Hebrew Condensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
}
